* {
    margin: 0;
    padding: 0
}

a:visited, a:link, a:active, a:hover {
    color: #005580;
    text-decoration: none;
    }

body {
     background-size: 200% 100%;
     
    }   
    
img {
    width: 60%;
    margin: auto;
    border: 1px solid gray;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    text-align: center;
}

.description {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    border: 1px gray solid;
    background-color: white;
    font-family: 'Montserrat';
    color: #005580;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 2em;
    font-size: 20px;
}

.Technologies {
    margin: auto;
    margin-top: 50px;
    border: 1px gray solid;
    background-color: white;
    font-family: 'Montserrat';
    color: #005580;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 2em;
    font-size: 20px;
    width: 60%;
}

h1 {
    font-family: 'Montserrat';
    color: #005580;
    font-weight: normal;
    text-decoration-line: underline;
    text-align: center;
}

.git {
    font-family: 'Montserrat';
    border: 1px solid gray;
    background-color: white;
    width: 15%;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 2em;
    transition: 0.5s;
    width: 30%;
    padding: 10px;
    font-size: 20px;
}

.git:hover {
    transform: scale(1.1,1.1);
}

@media screen and (max-width: 600px) {
    img {
        width: 90%;
    }
    .git {
        width: 90%;
    }
    .Technologies {
        width: 90%;
    }
    .description {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    label {
    display: block;
    cursor: pointer
    }
    
    .yläpalkki {
    display: none;
    }
    }
    
    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }