body {
    background-size: 200% 100%;
    height: 1000px;
  }
  a:visited, a:link, a:active, a:hover {
color: #005580;
text-decoration: none;
}
@media screen and (max-width: 900px) {
#websitekokonaisuus {
flex-direction: column;
}
#webinfo {
width: 80%;
margin-right: auto;
margin-left: auto;
text-align: center;
margin-top: 30px;
}
#webkuva {
width: 70%;
margin-top: 50px;
display: block;
margin-left: auto;
margin-right: auto;
}
#gitlinkki {
width: 40%;
margin-left: auto;
margin-right: auto;
text-align: center;
right: 50px;
}
#otsikko2 {
text-align: center;
margin: 0px;
margin-bottom: 30px;
}
}
@media screen and (max-width: 500px) {
label {
display: block;
cursor: pointer
}

.yläpalkki {
display: none;
}
}