body {
    background-size: 200% 100%;
    height: 1000px;
  }
  a:visited, a:link, a:active, a:hover {
color: #005580;
text-decoration: none;
}

h1 {
  font-family: 'Montserrat';
  color: #005580;
  font-weight: normal;
  text-decoration-line: underline;
  text-align: center;
}

@media screen and (max-width: 800px) {
#webinfo {
  width: 90%
}
#webkuva {
width: 100%;
margin-top: 50px;
display: block;
margin-left: auto;
margin-right: auto;
}

}
@media screen and (max-width: 500px) {
label {
display: block;
cursor: pointer
}

.yläpalkki {
display: none;
}
}