
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  body {
    background-image: url("./images/86373-min.jpg");
    background-size: cover;
    width: 100%
  }
  
  nav {
    display: flex;
    flex-direction: row;
  }
  
  nav > * {
    margin-right: 20px;
  }
  
  .yläpalkki {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px #005580 solid;
  background-color: white;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  transition: 0.3s;
  z-index: 1;
  }

  .yläpalkki div {
     margin-right: 5%;
     margin-left: 5%;
     font-family: 'Montserrat';
     color: #005580;
     font-size: 20px;
     transition: 0.5s;
  }

  .yläpalkki div:hover {
    text-decoration-line: underline;
    transform: scale(1.1,1.1);
  }

 
  .rivi {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }
  
  #linkkiosio {
    margin-top: 30px;
    margin-left: 15%;
  }

  .linkit:hover {
    transform: scale(1.2,1.2);
  }
  .igkuva:hover {
    transform: scale(1.2,1.2);
  }
  
  #infojalinkit {
    margin-left: 100px;
  }

  #infotekstit {
    border: 1px #005580 solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    
    font-family: 'Work Sans';
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #005580;
    width: 70%;
    height: 50%;
    padding: 15px;
    border-radius: 1em;
  }

  @media screen and (min-width: 1500px) {
    #infotekstit {
      font-size: 30px;
  }
}

  
  .projektit {
  display: flex;
  flex-wrap: wrap;
  color: #005580;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
  }
  
  .projektit div {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  }

  .projektit p {
      font-family: 'Montserrat';
      font-size: 30px;
      text-align: center;
  }
  
  #portfolio {
    color: #005580;
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Montserrat';
  font-size: 40px;
  text-decoration-line: underline;
  }
  
  #fourth {
  height: 50px;
  background-color: #D8F8FF; 
  margin-bottom: 50px; 
  }
  
  #third {
    height: 50px;
    background-color: #ACF0FF; 
  }

  #second {
  height: 50px;
  background-color: #8FEBFF;
  }

  #first {
    height: 50px;
    background-color: #00D1FF;
    margin-top: 30px;
  }

  #välipalkki {
    filter: blur(6px);
  }
  
  #quote {
      font-family: 'Montserrat';
      text-align: center;
      font-size: 30px;
      color: #005580;
      width: 700px;
      padding: 10px;
  }

  @media screen and (min-width: 1500px) {
    #quote {
      font-size: 40px;
      width: 1000px
    }
  }
  
  
  #quotebox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
    flex-wrap: wrap;
  }

  #omakuva {
      width: 27%;
      height: 27%;
      border-radius: 50%;
      margin-bottom: 20px;
      margin-right: 150px;
      margin-top: -40px;
      border: 2px #005580 solid;
  }

  @media screen and (min-width: 1600px) {
    #omakuva {
      width: 25%;
      margin-right: 200px
    }
  }

  .projektikuva {
      width: 300px;
      border: 2px gray solid;
      transition: 0.5s;
  }

  .projektikuva1 {
    height: 200px;
    width: 350px;
    border: 2px #005580 solid;
    transition: 0.4s;
    border-radius: 1em;
    z-index: -1;
  }

  .projektikuva1:hover {
    transform: scale(1.1,1.1);
  }

  .projektikuva:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .linkit {
      width: 10%;
      height: 10%;
      margin-bottom: 30px;
      transition: 0.5s;
      margin-left: 1.5%;
  }


  .igkuva {
      width: 9%;
      height: 9%;
      margin-left: 2%;
      margin-bottom: 30px;
      transition: 0.5s;
      margin-right: 1%;
  }

  #otsikko {
      background-color: #F3F3F3;
      font-family: 'Montserrat';
      font-size: 40px;
      color: #005580;
      width: 250px;
      height: 50px;
      text-align: center;
      margin-bottom: 100px;
      margin-left: 100px;
  }

  #otsikkolinnut {
    background-color: white;
    font-family: 'Work Sans';
    font-size: 20px;
    color: #005580;
    width: 550px;
    height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border: 1px #005580 solid;
    margin-bottom: 50px;
    padding: 5px 0;
  }

  #itsestani {
    background-color: white;
    font-family: 'Work Sans';
    font-size: 20px;
    color: #005580;
    width: 80%;
    height: 35%;
    border: 1px #005580 solid;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border-radius: 1em;
    text-align: center;
    margin-bottom: 50px;
  }

  #otsikkoaboutme {
    
    font-family: 'Montserrat';
    font-size: 40px;
    color: #005580;
    width: 250px;
    height: 60px;
    text-align: center;
    text-decoration-line: underline;
    margin: auto;
    margin-bottom: 50px;
    padding: 5px 0;
    margin-top: 50px;
  }

  #cv a{
    
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat';
    color: #005580;
    padding: 15px;
  }

  #cv:hover {
    text-decoration-line: underline;
  }

  #cv {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #005580 solid;
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    background-color: white;
    border-radius: 1em;
  }

  #hey {
   font-size: 80px;
   font-family: 'Montserrat';
   color: white;
   text-align: center;
   margin-top: 150px;
   margin-bottom: -40px;
  }

  #website {
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    margin-top: 10px;
    border: 1px white solid;
    width: 250px;
    font-size: 30px;
    border-radius: 2em;
  }

  #websitebox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    transition: 0.5s;
    margin-top: 100px;
  }

  #websitebox:hover {
    transform: scale(1.1,1.1);
  }

  #pisteet, #digital {
    font-family: 'Montserrat';
    color: white;
    text-align: center;
  }

  #pisteet {
    font-size: 60px;
  }

  #otsikko2 {
    font-size: 30px;
    width: 100%;
    font-family: 'Montserrat';
    color: #005580;
    text-decoration-line: underline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px
  }

  #webinfo {
    background-color: white;
    border: 1px solid #005580;
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-family: 'Work Sans';
    border-radius: 1em;
    text-align: center;
  }

  #webkuva {
    width: 70%;
    margin-top: 50px;
    border: 1px solid #005580;
    border-radius: 1em;
  }

  #main {
    font-size: 20px;
    font-family: 'Work Sans';
    color: #005580;
  }

 #gitlinkki {
   border: 1px #005580 solid;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   width: 270px;
   font-family: 'Work Sans';
   color: #005580;
   padding: 10px;
   font-size: 20px;
   background-color: white;
   transition: 0.5s;
   border-radius: 2em;
 }

 #gitlinkki:hover {
   transform: scale(1.1,1.1);
 }

 .modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

label {
  display: none;
  font-size: 35px;
  color: #005580;
  width: 100%;
  margin-bottom: 20px;
  position: sticky;
  text-align: left;
  background-color: white;
  border-bottom: 1px #005580 solid
}

.overlay { 
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(255,255,255); 
  background-color: rgba(255,255,255, 1); 
  overflow-x: hidden; 
  transition: 0.5s; 
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%; 
  text-align: center;
  margin-top: 30px; 
  font-family: 'Montserrat';
  color: #005580;
}

.overlay a {
  padding: 8px;
  margin-bottom: 40px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.return {
  margin-left: 20px;
  font-family: 'Montserrat';
  border: 1px solid gray;
  padding: 1px 10px 1px 8px;
  background-color: white;
}

.return:hover {
text-decoration-line: underline;
}

i {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-bottom: 2px;
  margin-right: 2px;
}
  
